/*index.html*/
#mapid { height: 550px; width: 1200px;}
*{box-sizing: border-box;}
input{
    height: 30px;
    padding: 15px;
    font-size: 14px;
    border: rgb(187, 187, 187) solid 1px;
    background-color: rgb(245, 245, 245, 0.5);
    margin-bottom: 10px;
    width: 100%;
    max-width: none;
}
input:hover{
    background: whitesmoke;
    border: black solid 1px;
}

button, 
button:active, 
button:focus {
    outline: none;
}
select{
    height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
}
.title__primary{
    font-weight: 600;
    font-size: 24px;

    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:whitesmoke;
    font-size: 15px;
    line-height: 24px;
}
.container {    
    max-width: 1200px;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color:white
}
/*
.container{
        min-height: 160px;
}
*/
.container--max{ 
        width: 1200px;
        min-width: 970px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: nowrap;
}
.page-header {
    background-color:whitesmoke;

    
}
.header-menu  a{
    background: #eae9e9; /* фон кнопки */
    outline: none; /* убирать контур в Mozilla */
    padding: 7px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-right: 5px;
    width:150px;
    display:block;
    font-size: 14px;
} 
.header-btn{
    display: flex
}
.header-btn  a{
    outline: none; /* убирать контур в Mozilla */
    padding: 3px;
    border-radius: 7px;
    margin-right: 5px;
    min-width:160px;
    display:block;
    font-size: 14px;
    text-align: center;
} 
.login{
    border: solid 1px rgb(33,147,90, 0.5);
    border-radius: 5px;
    color: rgb(33,147,90);
}
.header-btn .sign-up:hover{
    border: solid 1px  rgb(33,147,90, 0.5);
    border-radius: 5px;
    color: rgb(33,147,90);
}
.header-btn .sign-up{
    border: solid 1px  white;
    border-radius: 5px;
}
.header-menu a .current {
    color: #fff;
}
.header-menu a:hover { 
    background: rgb(232,95,76);
    color: #fff;} /* при наведении курсора мышки */

.header-menu-selected { 
    background: rgb(202, 60, 41);
    color: #fff;} /* при наведении курсора мышки */    

a {
    text-decoration: none; 
    user-select: none;
    color: inherit;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.header-menu{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding-left: 0px;
}
.header-menu li {
    text-align:center;
}

li {
    list-style-type: none;
    }



.page-header__title{
    font-weight: 600;
    font-size: 24px;
}


/*



.start-page 
.page-main
.page-main__button--primary
.page-main__track-list
.track-list__item 
+login*/
.header__signUp, .header__signIn, .header__restore, .header__setting {
    height: 20px;
    text-align: center;
    font-size: 24px;
    border-bottom: whitesmoke solid 2px;
    padding-bottom: 35px;
}



.container__signIn, .container__signUp, .container__restore {
    display: flex;
    border-radius: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    border: rgb(187, 187, 187) solid 1px;
}

.container__setting {
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;
    flex-direction: column;

}
.button--primary{
    color: white;
    text-decoration: none;
    padding: 7px;
    text-align:center;
    background-image: linear-gradient(-180deg,#22aa56, #22aa569c);
    width: 100%;
    max-width: none;

}
.button--primary:hover { 
    background:#22aa56;
} 
.button--primary:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
.button--primary:disabled{
    background: rgb(108, 112, 110);
    box-shadow: 0 3px rgb(108, 112, 110) inset;
}




.container__button--primary{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}
.link:hover{
    text-decoration-line: underline;
}
.container__button--primary .link {
    opacity: 0.5
}
.container__button--primary .link:hover {
    opacity: 1}

.container__signUp label, .container__signIn label, .container__restore label{
    margin-top: 15px;
    margin-bottom: 3px;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    }

/*show*/

.show-header__menu{
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
}
/*show*/
.show-header__menu li{
    border-left: solid 2px  rgba(128, 128, 128, 0.3);
    outline: none; /* убирать контур в Mozilla */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display:block;
    font-size: 14px;
} 

.show-header__menu li:hover{
    background-color: rgba(128, 128, 128, 0.3);
}

.show-header__title .title__primary{
    font-weight: 600;
    font-size: 24px;
}
.show-header__title--secondary{
    font-weight: 400;
    font-size: 18px;
}

.container__header-show{
    display: flex;
    padding: 0px;
}

.show-statistics{
    padding: 15px
}
.show-statistics--list{
    padding-left: 0px;
}
.show-statistics--list__full-statistics{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0px;
    max-height: 90px;
}

.create-header{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.create-form--container{
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: space-between;
}

.create-form--container input, .upload-form--container__top input{
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
} 
.create-form--container input[type=checkbox], .upload-form--container__top input[type=checkbox]{
    width: 30px;
    margin-right: 0px;
}
.create-form--container select, .upload-form--container__top select{
    margin: 0px;
    padding: 0px;
    margin-right: 20px;

} 
.create-form--container .button--primary, .upload-form--container__top .button--primary {
    max-width: 150px;
    padding: 5px;
}
.private-checkbox--container{
    display: flex;
    align-items: center;
}

.create-form--container .private-checkbox--container{
    margin-right: 20px;
}
.track-name--input{
    padding-left: 2px;
}

.upload-form--container__top{
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.upload-form--container__bottom{
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}


.upload-form--container__bottom input[type=file]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.upload-form--container__bottom input{
    padding: 0px;
    margin: 0px;
    border: none;
}
.upload-file--button{
    padding-left: 40px;
    padding-right: 40px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    display: block;
    border: 1px solid #15c541;
    color: #15c541;
    margin-right: 20px;
}

.upload-file--button:hover{
    background-color: rgb(108, 112, 110, 0.3);
    color: white;
    border-radius: 4px;
    border: 1px solid  rgb(108, 112, 110, 0.3);}

.upload-file--button:active{
    background-color: rgb(108, 112, 110, 0.6);
    color: white;
    border-radius: 4px;
    border: 1px solid rgb(108, 112, 110, 0.6);
}

.container__upload{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color:white
}


.upload-form--container__bottom input:focus {
    outline: none;
}

.upload-file-submit--button{
    height: 30px;
    text-align: center;
    display: block;
    color: #15c541;
}

.title__primary{
    margin-top: 15px;
}

.upload-header--container{

}












