/*index.html*/
#mapid { height: 300px; width: 500px;}
*{box-sizing: border-box;}
input{
    height: 30px;
    padding: 15px;
    font-size: 14px;
    border: rgb(187, 187, 187) solid 1px;
    margin-bottom: 10px;
    width: 100%;
    max-width: none;
}
input:hover{
    background: whitesmoke;
    border: black solid 1px;
}

select{
    height: 30px;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:whitesmoke;
    font-size: 15px;
    line-height: 24px;
}

.container {    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;
}
.container--max{ 
        width: 1200px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: nowrap;
}
.page-header {
    background-color:whitesmoke;
}
.header-menu  a{
    background: #eae9e9; /* фон кнопки */
    outline: none; /* убирать контур в Mozilla */
    padding: 7px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-right: 5px;
    width:150px;
    display:block;
    text-transform: uppercase;
    font-size: 14px;
} 
.header-btn{
    display: flex
}
.header-btn  a{

    outline: none; /* убирать контур в Mozilla */
    padding: 3px;
    border-radius: 7px;
    margin-right: 5px;
    min-width:160px;
    display:block;
    font-size: 14px;
    text-align: center;
} 
.login{
    border: solid 3px  whitesmoke;
    border-radius: 5px;
}
.header-btn .sign-up:hover{
    border: solid 3px  whitesmoke;
    border-radius: 5px;
}
.header-btn .sign-up{
    border: solid 3px  white;
    border-radius: 5px;
}
.header-menu a .current {
    color: #fff;
}
.header-menu a:hover { 
    background: rgb(232,95,76);
    color: #fff;} /* при наведении курсора мышки */

a {
    text-decoration: none; 
    user-select: none;
    color: inherit;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.header-menu{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding-left: 0px;
}
.header-menu li {
    text-align:center;
}

li {
    list-style-type: none;
    }



.page-header__title{
    font-weight: 600;
    font-size: 24px;
}


/*



.start-page 
.page-main
.page-main__button--primary
.page-main__track-list
.track-list__item 
+login*/
.header__signUp, .header__signIn, .header__restore {
    height: 20px;
    text-align: center;
    font-size: 24px;
}
.container__signIn, .container__signUp, .container__restore  {
    display: flex;
    border-radius: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;
    flex-direction: column;
    border: rgb(187, 187, 187) solid 1px;
}
.button--primary{

    color: white;
    text-decoration: none;
    padding: 7px;
    text-align:center;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    width: 100%;
    max-width: none;

}

.button--primary:hover { 
    background: rgb(53, 167, 110);
    } 
.button--primary:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
.container__button--primary{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}
.link:hover{
    text-decoration-line: underline;
}
.container__button--primary .link {
    opacity: 0.5
}
.container__button--primary .link:hover {
    opacity: 1}

.container__signUp label, .container__signIn label, .container__restore label{
    margin-top: 15px;
    margin-bottom: 3px;
}
