<!doctype html>
<html ng-app='gpxiesApp'>
<head>
    <title>gpXies</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    
    <script src="app/app.js"></script>
    <script src="app/trackView.js"></script>
</head>
<body class="start-page" ng-controller='trackView'>
    <header class="page-header">
        <div class="container">
            <div class="header__top">
                <h1 class="page-header__title"> gp<big>x</big>ies</h1>
                <div class="header-btn" style="visibility: hidden;">
                    <a class="login" href="#">username</a>
                    <a class="sign-out" href="#">выйти</a>
                </div>
                <div class="header-btn">
                    <a class="login" href="#">войти</a>
                    <a class="sign-up" href="#">зарегистрироваться</a>
                </div>
            </div>
            <nav>
                <ul class="header-menu">
                    <li>
                        <a href="#">Карта</a>  
                    </li>
                    <li>
                        <a href="#">Список</a>  
                    </li>
                    <li>
                        <a href="#">Закладки</a>  
                    </li>
                    <li>
                        <a href="#">Создать</a>  
                    </li>
                    <li>
                        <a href="#">Загрузить</a>  
                    </li>
                    <li>
                        <a href="#">Поиск</a>  
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="page-main">
        <div class="container--max">
            <div id="mapid"></div>
            <script src="js/main.js"></script>
            <button class="page-main__button--primary" onclick='clearCurrentTrack()'>Clear all</button>
            <p id='track-info'></p>
            <p id='coords'></p>
            <p id="trackList">{{trackList}}
                <ul class="page-main__track-list">
                <li class="track-list__item" ng-repeat="t in trackList">
                    {{t.id}}, {{t.title}}, {{t.filename}} <button ng-click="showTrack1(t.filename)">show</button>
                </li>
            </ul>
        </div>
        </p>
    </main>>


</body>

</html>