<!doctype html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Krub:400,600&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="container__signIn">
            <h3 class="header__signIn">
                Вход
            </h3>
                <label for="loginField">логин или email</label>
                <input type="text" id="loginField">
                <label for="Password">
                    пароль
                </label>
                <input type="password" id="Password">
                <a href="#" class="link">Забыли пароль?</a>
                <div class="container__button--primary">
                    <a href="#" class="button--primary">Войти</a>           
                    <a href="#" class="link">Регистрация</a>         
                </div>
        </form>
    </body>