<!doctype html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Krub:400,600&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="container__restore" method="post">
            <h3 class="header__restore">
                Восстановление пароля
            </h3>
                <label for="loginForRestore">введите логин или пароль</label>
                <input type="text" id="loginForRestore" required>
                <div class="container__button--primary">
                    <a href="#" class="button--primary">получить код для восстановления пароля</a>                   
                </div>
                <div>
                    <label for="Code">введите полученный код</label>
                    <input type="password" id="Code" required>  
                    <div class="container__button--primary">
                        <a href="#" class="button--primary">Ок</a>                
                    </div> 
                </div>
                <div>             
                    <label for="newPassword">введите новый пароль дважды</label>
                    <input type="password" id="newPassword" required>
                    <input type="password" id="newPassword" required>
                    <div class="container__button--primary">
                        <a href="#" class="button--primary">Ок</a>                   
                    </div>
                </div>
        </form>
    </body>