<!doctype html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Krub:400,600&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="container" method="post">
            <div class="container__setting">
                <h3 class="header__setting">
                    Настройки аккаунта <span id='username'>user</span>
                </h3>
                    <label for="loginField">email</label>
                    <input type="text" id="loginField" required>
                <label for="countries">страна</label>
                <select id="countries">
                    <option id="Россия" value="1">Russia</option>
                    <option id="Украина" value="2">Ukraine</option>
                    <option id="Финляндия" value="3">Finland</option>
                </select>
                <div class="container__button--primary">
                    <button type="submit" class="button--primary">сохранить</button>                   
                </div>
                <h4>
                    Смена пароля
                </h4>
                <label for="newPassword">введите новый пароль дважды</label>
                <input type="password" id="newPassword" required>
                <input type="password" id="newPassword" required>
                <div class="container__button--primary">
                    <button type="submit" class="button--primary">сменить пароль</button>                   
                </div>               
            </div>
        </form>
    </body>