<!doctype html>
<html ng-app='gpxiesApp'>
<head>
    <title>gpXies</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    
    <script src="../app/app.js"></script>
    <script src="../app/trackView.js"></script>
</head>
<body class="show" ng-controller='trackView'>
    <div class="container container__header-show">
        <header class="show-header">
            
            <div class="container">
                <div class="show-header__top">
                    <h1 class="show-header__title">
                        <span> Название трека</span>, <span>407 км</span>
                    </h1>
                    <h2 class="show-header__title--secondary">
                        Автор: <span>user</span>, дата: <span> 2005.01.25</span>
                    </h2>
                </div>
                    <ul class="show-header__menu">
                        <li>
                            <button>
                                Скачать
                            </button>
                        </li>
                        <li>
                            <button>
                                Создать вариант
                            </button>
                        </li>
                        <li>
                            <button>
                                Добавить в закладки
                            </button>
                        </li>
                        <li>
                            <button>
                                Редактировать
                            </button>
                        </li>
                        <li>
                            <button>
                                Удалить
                            </button>
                        </li>
                    </ul>
        </header>
        <aside class="show-statistics">
            <h3>
                Статистика
            </h3>
            <ul class="show-statistics--list">
                <li>
                    <span>407</span> км
                </li>
                <li>
                    <span>4000</span> точек
                </li>
                <li>
                    <span>25</span> wpt
                </li>
            </ul>
        </aside>
    </div>
    <main class="page-main">
        <div class="container--max">
            <div id="mapid"></div>
            <script src="../js/main.js"></script> 
        </div>
        <div class="container">
            <h3>
                Полная статистика
            </h3>
            <ul class="show-statistics--list__full-statistics">
                <li>
                    <span>407</span> км
                </li>
                <li>
                    <span>4000</span> точек
                </li>
                <li>
                    <span>25</span> wpt
                </li>
                <li>
                    <span>407</span> км
                </li>
                <li>
                    <span>4000</span> точек
                </li>
                <li>
                    <span>25</span> wpt
                </li>
                <li>
                    <span>407</span> км
                </li>
                <li>
                    <span>4000</span> точек
                </li>
                <li>
                    <span>25</span> wpt
                </li>
            </ul>
        </div>
    </main>
</body>
</html>