<!doctype html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Krub:400,600&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="container__signUp">
            <h3>
                Joint to gp<big>x</big>ies
            </h3>
                <label for="loginField" >Логин</label>
                <input type="text" id="loginField">
                <label for="Password" >Пароль</label>
                <input type="password" id="Password">
                <label for="email">email</label>
                <input type="email" id="email">
                <div class="container__button--primary">
                    <a href="#" class="button--primary">Зарегистрироваться</a>           
                    <a href="#" class="link">Вход</a>         
                </div>
        </form>
    </body>