<!doctype html>
<html ng-app='gpxiesApp'>
<head>
    <title>gpXies</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="upload" ng-controller='trackView'>
    <div class="container">
        <header class="upload-header">
            <h1 class="title__primary">
                Загрузить новый трек
            </h1>
        </header>
    </div>
    <main class="page-main">
        <div class="container">
            <form action="#">
                <div class="upload-form--container__top">
                    <select name="sport-choice" id="sport-choice-id">
                        <option value="1" id="bicycle">Велосипед</option>
                        <option value="2" id="run">Бег</option>
                        <option value="3" id="skiing">Лыжи</option>
                    </select>
                    <input type="text" class="track-name--input" style="text-indent: 5px;" placeholder="Название трека" /> 
                    <div class="private-checkbox--container">
                        <input type="checkbox" value="1" id="private-checkbox">  <label for="private-checkbox">Приватный</label>  
                    </div>
                </div>
                <div class="upload-form--container__bottom">
                    <input type="file" id="upload-track-file" name="upload-track-file"> 
                    <label for="upload-track-file" class="upload-file--button">Файлы</label>
                    <label class="upload-file-submit--button">Название загруженного файла</label>
                </div>
                <div class="upload-form--container__bottom">
                    <button type="submit" class="button--primary">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>