<!doctype html>
<html ng-app='gpxiesApp'>
<head>
    <title>gpXies</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="create" ng-controller='trackView'>

        <header class="upload-header">
            <h1 class="upload-header--title__primary">
                Загрузка трека
            </h1>
        </header>
        <main class="upload-main">
                <form name="upload-main--form">
                    <div class="upload-main--container-top">
                        <select name="sport-choice" id="sport-choice-id">
                            <option value="1" id="bicycle">Велосипед</option>
                            <option value="2" id="run">Бег</option>
                            <option value="3" id="skiing">Лыжи</option>
                        </select>
                        <button class="button--primary">
                            Новый трек
                        </button>
                        <input type="checkbox" value="1" id="private-checkbox">  <label for="private-checkbox">Приватный</label>  
                    </div>
                    <div class="upload-main--container-bottom">
                        <input type="file" id="upload-track-file" name="upload-track-file"> 
                        <label for="upload-track-file--submit" class="upload-file--button">Файлы</label>
                        <input type="submit" id="upload-track-file--submit" value="Загрузить"> 
                    </div>
                </form>
        </main>
</body>
</html>